footer {
    border-top: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    line-height: 60px;
    bottom: 0%;
    position: fixed;
    text-align: center;
}
@media  (min-width: 320px) and (max-width: 768px) {
    footer {
        border-top: 1px solid #CCCCCC;
        background-color: #FFFFFF;
        height: 35px;
        width: 100%;
        line-height: 35px;
        bottom: 0%;
        position: fixed;
        text-align: center;
        font-size: 14px;
    }
}