.filters {
    border: 1px solid hsl(0, 0%, 87%);
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20% ;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
}
button:hover {
    opacity: 90%;
}
button ul {
    list-style: disc;
}
@media   (max-width: 768px) {
    .filters {
        border: 1px solid hsl(0, 0%, 87%);
        width: 100%;
        height: 70px;
        background-color: #FFFFFF;
        margin: auto;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 8px;
    }
    button {
        font-size: 18px;
        background-image: url("../images/search.png");
        background-repeat: no-repeat;
        background-position: right;
        background-color: inherit;
        background-size: 30px;
        display: flex;
        height: 48px;
        width: 41px;
        border: none;
        border-radius: 4px;
        position: absolute;
        right: 10px;
    }
    button > p {
        visibility: hidden;
    }
    .filters {
        border: 1px solid hsl(0, 0%, 87%);
        width: 100%;
        height: 50px;
        background-color: #FFFFFF;
        margin: auto;
        display: flex;
        align-items: center;
        position: relative;
    }
    .filters .locations {
        height: 100%;
        width: 75%;
        padding-left: 20px;
        position: relative;
        transition: 0.5s ease-in-out;
        /* display: none; */
    }
    .locations h3 {
        font-weight: 400;
        margin-top: 0.6rem;
        margin-bottom: -0.5rem;
    }
    .locations h4 {
        font-weight: 100;
        font-size: 14px;
    }
    .locations .popover {
        background-color: #FAFAFA;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        list-style-type: none;
        position: relative;
        left: -20px;
        width: 75%;
        margin-top: -0.3rem;
        padding-bottom: 20px;
        line-height: 20px;
        display: none;
        z-index: 9;
        transition: 3s ease-in-out;
    }
    .filters .amenities {
        height: 100%;
        width: 100%;
        padding-left: 20px;
        position: relative;
        transition: 0.5s ease-in-out;
        display: none;
    }
    .amenities h3 {
        font-weight: 400;
        margin-top: 0.6rem;
        margin-bottom: -0.5rem;
    }
    .amenities h4 {
        font-weight: 100;
        font-size: 14px;
    }
    .amenities .popover {
        background-color: #FAFAFA;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        list-style-type: none;
        position: relative;
        left: -20px;
        width: 110%;
        margin-top: -0.3rem;
        padding-bottom: 20px;
        line-height: 20px;
        display: none;
        z-index: 9;
        transition: 3s ease-in-out;
    }
}

.locations {
    height: 100%;
    width: 25%;
    line-height: 70%;
    padding-left: 20px;
    position: relative;
    transition: 0.5s ease-in-out;
}
.locations h3 {
    font-weight: 600; 
}
.locations h4 {
    font-weight: 400;
    font-size: 14px;
}
.locations .popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    position: relative;
    left: -20px;
    width: 108%;
    top: -5px;
    padding-bottom: 20px;
    line-height: 20px;
    display: none;
    z-index: 9;
    transition: 3s ease-in-out;

}
.locations:hover > .popover  {
    display: block;
    transition: 3s ease-in-out;
}
.locations .popover ul {
    list-style-type: none;
}
.locations .popover h2 {
    font-size: 16px;
}
.filters .amenities {
    border-left: 1px solid #DDDDDD;
    line-height: 70%;
    height: 100%;
    width: 25%;
    line-height: 70%;
    padding-left: 20px;
    position: relative; 
}
.filters .amenities h4 {
    font-weight: 400;
    font-size: 14px;
}
.filters .amenities .popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    position: relative;
    left: -20px;
    width: 110%;
    padding-bottom: 20px;
    top: -5px;
    line-height: 20px;
    display: none;
    z-index: 9;
}
.filters .amenities:hover > .popover  {
    display: block;
}



